[Desktop Entry]
Type=Application
Version=1.0
Name=Install CinderOS
Comment=Install CinderOS to your computer
Exec=sudo calamares
Icon=system-software-install
Terminal=false
StartupNotify=true
Categories=System;
